.channel-list .single-row {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
}
.channels h6 {
    font-weight: bold;
    margin: 20px 0 20px 20px;
}
.middle-menu {
    display: flex;
    margin-left: 20px;
}
.middle-menu > div,
.channel-list .single-row > div {
    margin-right: 20px;
}

.channel-list .row {
    display: flex;
}


.card form {
    padding: 0 20px 20px;
}
.card form .btn:hover {
    background: green;
    color: #fff;
}
.card form div {
    margin-top: 20px;
}
